<template name="layout">
  <nav class="container-fluid navbar navbar-default notFixedTop " role="navigation" id="slide-nav" >
    <div class="row hem-header">

      <div class=" col-xs-64 col-sm-10 col-md-8 col-lg-8 col-xl-8" style="width: 6%">
        <div class="navbar-header">
          <!--<a class="navbar-toggle">-->
            <!--<span class="sr-only">Toggle Navigation</span>-->
            <!--<span style="margin-top: 13px;" class="hem-icon hem-burger"></span>-->
          <!--</a>-->
          <div class="text-center">
            <a itemtype="http://schema.org/Organization" itemprop="url" id="hemHeaderLogo" href="/">
              <img class="hem-log" alt="Hem.com" src="/hem_logo_black_small.png" >
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-51 col-md-53 col-lg-53 col-xl-53">
        <div id="slidemenu" class="row sildeMenuXS">

          <!--First Ul Start-->
          <ul class="nav navbar-nav hoverStyling auto-adjust-subnav">
            <li class="dropdown subnavDropDown" id="subnavShop"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-dropdown-section="#sectionShopDropdown">Shop
              <b class="caret hidden-xs"></b> <span class="hem-icon hem-plus hidden-sm hidden-md hidden-lg floatRight"></span></a>
              <ul class="dropdown-menu hidden-sm hidden-md hidden-lg">
                <li><a href="/en-gb/shop/furniture/?ref=feed" >Furniture</a></li>
                <li><a href="/en-gb/shop/lighting/?ref=feed" >Lighting</a></li>
                <li><a href="/en-gb/shop/accessories/?ref=feed" >Accessories</a></li>
                <li><a href="/en-gb/product/10154/?ref=feed">Storm</a></li>
                <li><a href="/en-gb/product/10131/?ref=feed">Hai Chair</a></li>
              </ul>
            </li>
            <hr class=" hidden-sm hidden-md hidden-lg">

            <!--Customize based on region-->
            <li class="dropdown subnavDropDown" id="subnavCustomize"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-dropdown-section="#sectionCustomizeDropdown">Design Your Own
              <b class="caret hidden-xs"></b> <span class="hem-icon hem-plus hidden-sm hidden-md hidden-lg floatRight"></span></a>
              <ul class="dropdown-menu hidden-sm hidden-md hidden-lg">
                <li><a href="/en-gb/customize-storage/?ref=feed">Storage</a></li>
                <li><a href="/en-gb/customize-tables/?ref=feed">Tables</a></li>
                <li><a href="/en-gb/customize-seating/?ref=feed">Seating</a></li>
                <!--<li><a href="/en-gb/customize-other-furniture/?ref=feed">Other Furniture</a></li>-->
              </ul>
            </li>

            <hr class=" hidden-sm hidden-md hidden-lg">

            <li  id="subnavDesigner">
              <a href="/en-gb/designers?ref=stl.customize.des_sub"> Designers</a>
            </li>

            <hr class=" hidden-sm hidden-md hidden-lg">

            <li class=" hidden" id="subnavRetailer">
              <a href="#">Find A Hem Retailer</a>
            </li>

            <hr class=" hidden hidden-sm hidden-md hidden-lg">
          </ul>
          <!--First Ul end-->
        </div>
      </div>
    </div>
  </nav>

  <div class="feed">
    {{> yield}}
  </div>
</template>
