@import "fab-variables.css.scss";
/*
    Document   : layout
    Created on : Aug 11, 2014, 6:00:17 PM
    Author     : abhimanyusaxena
    Description:
        This CSS is suppoed to define the page level layouts. Positions Header
        and footer. CSS of header and footer are kept in their respective folders.
*/

/*
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

$hem-footer-height : 240px;
$hem-header-height : 58px;
html, body{
  height: 100%;
}

#hemWrapper{
  min-height: 100%;
}

#hemWrapper:after {
  content: "";
  display: block;
}

.hemfooter{
  /* .push must be the same height as footer */
  min-height: $hem-footer-height;
  background-color: $hem-color-4;
  margin-top: 40px;
  padding: 40px 0 30px 0;
}

.hemHeader{
  height: $hem-header-height;
}

.profiler-results{
  display:none;
}

.noPadding{
  padding: 0px;
}

.hero-image{
  position: relative;
  background-color: #e5e5e5;
  overflow: hidden;
  @media (max-width:$screen-xs-max){
    max-height: 675px;
  }
  max-height: 450px;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16, .col-lg-17, .col-lg-18, .col-lg-19, .col-lg-20, .col-lg-21, .col-lg-22, .col-lg-23, .col-lg-24, .col-lg-25, .col-lg-26, .col-lg-27, .col-lg-28, .col-lg-29, .col-lg-30, .col-lg-31, .col-lg-32, .col-lg-33, .col-lg-34, .col-lg-35, .col-lg-36, .col-lg-37, .col-lg-38, .col-lg-39, .col-lg-40, .col-lg-41, .col-lg-42, .col-lg-43, .col-lg-44, .col-lg-45, .col-lg-46, .col-lg-47, .col-lg-48, .col-lg-49, .col-lg-50, .col-lg-51, .col-lg-52, .col-lg-53, .col-lg-54, .col-lg-55, .col-lg-56, .col-lg-57, .col-lg-58, .col-lg-59, .col-lg-60, .col-lg-61, .col-lg-62, .col-lg-63, .col-lg-64{
  float: left;
}

.col-lg-20{
  width: 31.25%;
}