<template name="productFeedList">
  {{> feedFilter}}
  <div class="wrapper">
  <div class="timelineContainer">
        {{#each productFeeds}}
          <div class="timelineItem">
            <div class="timelineSidebar">
              <div class="timelineBookmark">
                <div class="timelineBookmarkFirstRow">
                  <div class="timelineBookmarkInfo">
                    <!--<span class="timelineBookmarkInfoUsername">{{this.user_name}}</span>-->
                    <span class="timelineBookmarkInfoTimestamp">
                      <span class="timelineBookmarkInfoTimestampContent">
                        A customer
                        {{#if this.saved_product_id}}
                          designed it
                        {{else}}
                          bought it
                        {{/if}}
                      </span>
                    </span>
                  </div>
                  <img class="timelineBookmarkAvatar Image iLoaded"  src="/no-profile-image.jpg"/>
                </div>
                <div class="timelineBookmarkLocation">{{this.location}}</div>
              </div>
            </div>
            <div class="timelineCenter">
              <div class="timelineCard">
                <!--<div class="product-title productNameStyling" style="color: #000">{{this.name}}</div>-->
                <div class="mediaPhoto product-block">
                  <!--<span class="i-like-big"></span>-->
                 <img class="timelinePhoto Frame Image iLoaded iWithTransition"
                       src="{{this.image_url}}"/>
                  <a href="http://172.16.10.6:3010/{{pagePref.locale_name}}{{this.product_url}}" target="_blank">
                  <div class="product-details-ct hover">
                    <div class="product-details row " style="margin-top: -20px; ">
                      <div class="product-title productNameStyling col-sm-64 col-md-64 col-lg-60">
                        {{this.name}}
                      </div>
                      <div class="product-designer-text text-3 col-sm-64 col-md-64 col-lg-64">
                        by <div class="product-designer-name">
                        <span class="text-3">{{this.designer_name}}</span>
                        </div>
                      </div>
                      </div>
                  </div>
                  </a>
                </div>
                <div class="timelineLikes" style="text-align: center">
                  <div class="timelineLikeList">
                <span class="LikeList">
                  {{#if this.saved_product_id}}
                    If you like it, you can buy it!
                  {{else}}
                    {{#if this.users}}
                      <span class="llNameLink">{{this.users}}</span>
                    {{else}}
                      <span class="llNameLink">A customer bought it for the first time!</span>
                    {{/if}}
                  {{/if}}
                </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
  </div>
    {{#if moreResults}}
    <div id="showMoreResults" style="margin-left: 25px;">
      <span class="loading"></span>
    </div>
    {{/if}}
  </div>

</template>